* {
   box-sizing: border-box;
}
body {
  font-family: "Century Gothic";
  font-size: 16px;
  color: #000;
  background-color: #3e986d;
}

#header-nav {
  background-color: #6ab0ff;
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-brand { 
  color: black;
 }

.navbar-brand {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 2em;
  font-family:"Comic Sans MS";
  color: black;
}

.page-header { 
  font-size: 2em;
 }


#header-nav button.navbar-toggle {
  clear: both;
  margin-top: -50px;
}

#collapsable-nav > #nav-list > li {
  font-size: 1em;
  color: black;
  background-color: #BCED91;
  padding: 10px 0 10px 0;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;  
}

#collapsable-nav > #nav-list > li:hover {
  background-color: #E7FF91;
}

#collapsable-nav > #nav-list > li:nth-child(1) {
  margin-top: -7.4px;
  padding: 10px 0 10px 0;
}

#collapsable-nav > #nav-list > li:nth-child(3) {
  margin-bottom: -7.4px;
  border-bottom: 2px solid black;
}


#main-content {
  margin-top: 70px;
  background-color: #3e986d;
}

#main-content > section {
  background-color: #dbdbdb;
  margin-bottom: 50px;
}