* {
  box-sizing:border-box;
  padding:0px;
  margin:0px;
}

body {
  font-family: "Century Gothic";
  font-size: 16px;
  color: #000;
}

.page-header { 
  border-bottom: 0px;
}
@media (min-width: 10px) {
  .navbar {
    border-radius: 0px;
    background-color: black;
  }
}

.header-title
{
  font-size:2em;
  font-weight:bold;
  margin-bottom: 30px;
  margin-top: 10px;
}

.container-text
{
  background-color:#E7E7E7;
  border:black 2px solid;
  position:relative;
  margin:10px;
  padding:10px;
  padding-top:0px;
}


.navbar-brand {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 2em;
  font-family:"Comic Sans MS";
  color: black;
}

.page-header { 
  font-size: 2em;
 }


